@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overlay-mask {
    mask-image: linear-gradient(0deg, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 40%);
  }
  .glow{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 20px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 30px rgba(255, 255, 255, 0.5));

  }
  
  /* Meteor animation */
  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
  
  .animate-meteor {
    animation: meteor linear infinite;
  }
}

html,
body {
  overscroll-behavior: none;
}

body {
  overflow-y: scroll;
}
#root{
  width: 100%;
  height: 100vh;
}
.handwritting{
  font-family: "Dancing Script", cursive;
}